<!DOCTYPE html>

<head>
    <link rel="stylesheet" href="../static/index.css">
    <link rel="stylesheet" href="../static/header.css">
    <link rel="stylesheet" href="../static/footer.css">
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hangman-Web Accueil</title>
</head>

{{template "header"}}

<body>
    <div class="container">
        <div style="font-size:1vw;" class="formulaire">
            <div class="title2">
                <h2>entrer votre nom: </h2>
            </div>
            <div class="input-container">
                <form class="login" autocomplete="off" method="POST" action="/info">
                    <input class="input" name="Username" type="text" placeholder="entrer votre nom"/>
                    <input class="button" type="submit" value="Envoyer" />
                </form>
            </div>
        </div>
    </div>
    
</body>

{{template "footer"}}

</html>